@model List<BlogModel>



<div class="container">
    <div class="row">
        <div class="col">
            <form class="form-inline d-flex my-2 my-lg-0" id="MyArticlesSearch">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-12 d-flex justify-content-center">
                <div class="card mb-4 bg-light" style="width: 18rem; height: 500px;">
                    <img src="~/BlogPictures/@item.BlogImageUrl" class="img-thumbnail" id="MyArticlesCardImg">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <i class="fa fa-calendar"></i>  @item.BlogCreatedTime.ToString("dd-MMMM-yyyy")
                        <br />
                        <i class="fa fa-heart"></i>  @item.LikeCount
                        @if (@item.BlogDescription.Length > 30)
                        {
                            <div class="card-text"><p>@Html.Raw(item.BlogDescription.Substring(0, 30))<strong>....</strong></p></div>
                        }
                        else
                        {
                            <div class="card-text"><p>@Html.Raw(item.BlogDescription.Substring(0, item.BlogDescription.Length))</p></div>
                        }
                        <a href="/Blog/Details/@item.Id"><div class="read-more">Read More</div></a>
                    </div>
                </div>

            </div>





        }

    </div>

</div>